.ad-unit {
    --padding: 13px;
    height: 100%;
    padding: var(--padding);
    /* This is to workaround the top-bar resizing issue in mobile browsers */
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-unit__banner-container {
    text-align: center;
}

.ad-unit__banner {
    max-width: 100%;
    /* Make height same as width: ( screen-width - (padding * 2) ) */
    height: calc(100vw - var(--padding) * 2);
    object-fit: cover;
    border-radius: 6px;
}

.ad-unit__description {
    padding: 0 .75em;
    font-size: 1em;
    line-height: 1.3;
    text-align: center;
}

.ad-unit__cta-container {
    text-align: center;
}

.ad-unit__cta {
    font-family: 'Open Sans', helvetica, sans-serif;
}

@media (max-width: 1000px) and (orientation: portrait) {
    .ad-unit {
        height: 86%;
    }
}

@media (orientation: landscape) {
    .ad-unit__banner {
        max-height: 60vh;
    }
}

/* Aspect ratios similar to square */
@media
(min-aspect-ratio: 3/5) and
(max-aspect-ratio: 5/3) {
    .ad-unit {
        height: 100%;
    }

    .ad-unit__banner {
        max-height: 60vh;
    }
}
